@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 5%;
  color: #dedede;
  background: #142551;
}

#navBar {
  position: absolute;
  top: 3%;
  width: 90%;
  padding-bottom: 10px;
  border-bottom: 1px solid #676767;
}

#mainLogo {
  width: 15%;
  position: relative;
}

#navInfo {
  display: flex;
  justify-content: flex-end;
  margin-top: -22px;
  color: #dfd173;
  font-size: 85%;
}

#numberOfCoins,
#btcDominance,
#volumePerDay,
#globalMktCap {
  margin-left: 20px;
}

.title {
  margin-top: 150px;
}

table {
  margin-top: 50px;
}

.row {
  color: #676767;
}

th,
td {
  border-bottom: 1px solid #676767;
  line-height: 25px;
  padding: 15px;
}

#nameHeader {
  text-align: left;
}

.logo {
  table-layout: fixed;
  width: 1%;
  padding-left: 0;
  padding-right: 0;
  text-align: right;
}

.logoPic {
  width: 100%;
}

.fluct {
  font-size: 85%;
}

.coinName {
  text-align: left;
}

.volume,
.marketCap,
.price {
  text-align: right;
}
