@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 10%;
    color: #dedede;
    background: #000207;
}

.row {
    color: #676767;
}

th, td {
    border-bottom: 1px solid #676767;
    line-height: 25px;
    padding: 15px;
}

.logo {
    table-layout: fixed;
    width: 1%;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
}

.logoPic {
    width: 100%;
}

.fluct {
    font-size: 85%;
}

.coinName {
    text-align: left;
}

.volume,
.marketCap {
    text-align: right;
}